:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --hero-text-color: #ffffff;
  --white: #ffffff;
  --footer-logo-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --accent-color: #4d5ae5;
  --portfolio-button-bgc: #404bbf;

  --nav-list-gap: 40px;
  --list-gap: 24px;
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 1px solid tomato; */
}

.section {
  padding-top: 0;
  padding-bottom: 120px;
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-top: 0;
  margin-bottom: 72px;
}

.link {
  color: var(--title-text-color);
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;

  border-radius: 4px;
  border: 1px solid transparent;
}

img {
  display: block;
  max-width: 100%;
}

/* Logo */
.logo {
  color: var(--accent-color);
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

.logo-header {
  color: var(--title-text-color);
}

.logo-footer {
  color: var(--footer-logo-color);
}

/* Site nav */
header {
  border-bottom: 1px solid var(--footer-text-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  margin-left: 76px;
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: var(--nav-list-gap);
}

.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts {
  margin-left: auto;
}

.contacts-list {
  font-size: 16px;
  line-height: 1.5;

  display: flex;
}

.contacts-list-item .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts-list-item:not(:last-child) {
  margin-right: var(--nav-list-gap);
}

.contacts-link {
  font-style: normal;
  color: var(--primary-text-color);
}

/* Hero */
.hero {
  background-color: var(--title-text-color);
  text-align: center;

  padding-top: 188px;
  padding-bottom: 188px;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main_page/hero/hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  width: 494px;
  color: var(--hero-text-color);

  margin-top: 0;
  margin-left: auto;
  margin-bottom: 48px;
  margin-right: auto;
}

.hero .button {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  padding: 16px 32px;
}

.hero .button:hover,
.hero .button:focus {
  background-color: var(--portfolio-button-bgc);
}

/* Our features */
.section:nth-child(2) {
  padding-top: 120px;
}

.hidden {
  display: none;
}

.feature-list {
  display: flex;
  margin-left: calc(-1 * var(--list-gap));
}

.feature-list-item {
  flex-basis: calc(100% / 4 - var(--list-gap));
  margin-left: var(--list-gap);
}

.feature-list-item p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.feature-list-item h3 {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  margin-top: 0;
  margin-bottom: 8px;
}

/* What are we doing */
.doing-list {
  display: flex;
  margin-left: calc(-1 * var(--list-gap));
}

.doing-list-item {
  flex-basis: calc(100% / 3 - var(--list-gap));
  margin-left: var(--list-gap);
}

/* Team */
.section:nth-child(4) {
  background-color: var(--footer-text-color);
  padding-top: 120px;
}

.team-list {
  display: flex;
  margin-left: calc(-1 * var(--list-gap));
}

.team-list-item {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  text-align: center;

  flex-basis: calc(100% / 4 - var(--list-gap));
  margin-left: var(--list-gap);
}

.team-card {
  padding: 32px 0;
}

.team-list-item h3 {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 8px;
}

.team-list-item p {
  font-size: 16px;
  line-height: 1.5;

  margin-top: 0;
  margin-bottom: 0;
}

/* Footer */
footer {
  background-color: var(--title-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

footer .logo {
  margin-top: 0;
  margin-bottom: 0;
}

footer p {
  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 1.5;

  width: 264px;
  margin-top: 16px;
  margin-bottom: 0;
}

/* Portfolio */

/* Filter */
.portfolio .section {
  padding-top: 96px;
}

.filter-list {
  display: flex;
  justify-content: center;

  margin-bottom: 72px;
  margin-left: calc(-1 * var(--list-gap));
}

.filter-list-item {
  margin-left: var(--list-gap);
}

.filter-list-item .button {
  padding: 12px 24px;
}

.filter-list-item .button:hover,
.filter-list-item .button:focus {
  color: var(--white);
  background-color: var(--portfolio-button-bgc);
  border: 1px solid var(--footer-text-color);
  border-radius: 4px;
}

.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

/* Project list */
.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-2 * var(--list-gap));
  margin-left: calc(-1 * var(--list-gap));
}

.project-list-item {
  flex-basis: calc(100% / 3 - var(--list-gap));
  margin-top: calc(2 * var(--list-gap));
  margin-left: var(--list-gap);
}

.project-list-item h2 {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  margin-top: 0;
  margin-bottom: 8px;
}

.project-list-item p {
  font-size: 16px;
  line-height: 1.5;

  margin-top: 0;
  margin-bottom: 0;
}

.card-content {
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;

  border-right: 1px solid var(--footer-text-color);
  border-bottom: 1px solid var(--footer-text-color);
  border-left: 1px solid var(--footer-text-color);
}
